.link {
	position: relative;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: 2px;
		background-color: currentColor;
		top: 100%;
		left: 0;
		transition: width 0.3s ease-in-out;
	}

	&.current-page::before {
		width: 100%;
	}

	&:hover::before,
	&:focus::before {
		width: 100%;
	}

	&:not(.current-page):hover,
	&:not(.current-page):focus {
		color: #d59edf;
	}
}
