body {
	display: grid;
	grid-template-rows: auto 1fr;
	justify-items: center;
	gap: 1vh;
	gap: 1dvh;
	min-height: 100vh;
	min-height: 100dvh;
}

body > main {
	max-width: 1280px;
	padding-inline: 16px;

	@media (min-width: 600px) {
		padding-inline: 24px;
	}
}

body > main > section {
	height: 100%;
}
